<header class="header">
  <div class="logo">
    <a routerLink="/" class="logo-text">TicketTwo</a>
  </div>


  <nav class="nav-links">
    <!-- Se NON autenticato e siamo nella pagina login o registrazione, mostra SOLO "Ritorna alla Home" -->
    <a *ngIf="!isLoggedIn && isLoginOrRegistrationPage" routerLink="/" class="nav-link">
      ← Ritorna alla Home
    </a>

    <!-- Se NON autenticato e NON siamo in pagina login o registrazione, mostra SOLO "Login" -->
    <a *ngIf="!isLoggedIn && !isLoginOrRegistrationPage" routerLink="/auth/login" class="nav-link">
      Login
    </a>

    <!-- Se autenticato, mostra Profilo e Logout -->
    <ng-container *ngIf="isLoggedIn">
      <a routerLink="/profile" class="nav-link">Profilo</a>

    </ng-container>
  </nav>

</header>
