<div *ngIf="list">
  <h2>{{ list.name }}</h2>


  <table *ngIf="events.length > 0">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Descrizione</th>
      <th>Luogo</th>
      <th>Data Inizio</th>
      <th>Data Fine</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.name }}</td>
      <td>{{ event.description }}</td>
      <td>{{ event.location }}</td>
      <td>{{ event.startDate | date: 'short' }}</td>
      <td>{{ event.endDate | date: 'short' }}</td>
    </tr>
    </tbody>
  </table>

  <p *ngIf="events.length === 0">Nessun evento nella lista.</p>
</div>
